*{
   box-sizing: border-box;
   justify-content: center;
    align-items: center;
    text-align: center;
   
}

body{
   background-color: #202020;
}

#slider {
    margin: 0 auto;
    width: 95%;
    max-width: 100%;
    text-align: center;
 }
 #slider input[type=radio] {
    display: none;
 }
 #slider label {
    cursor:pointer;
    text-decoration: none;
 }
 #slides {
    /* padding: 10px; */
    /* border: 3px solid #ccc; */
    background: #202020;
    position: relative;
    z-index: 1;
 }
 #overflow {
    width: 100%;
    overflow: hidden;
 }
 #slide1:checked ~ #slides .inner {
    margin-left: 0;
 }
 #slide2:checked ~ #slides .inner {
    margin-left: -100%;
 }
 #slide3:checked ~ #slides .inner {
    margin-left: -200%;
 }
 #slide4:checked ~ #slides .inner {
    margin-left: -300%;
 }
 #slides .inner {
    transition: margin-left 800ms cubic-bezier(0.770, 0.000, 0.175, 1.000);
    width: 400%;
    line-height: 0;
    
 }
 #slides .slide {
    width: 25%;
    float:left;
    display: flex;
    justify-content: center;
    align-items: center;
    
    color: black;
 }
 #slides .slide_1 {
    background: #202020;
 }
 #slides .slide_2 {
    background: #202020;
 }
 #slides .slide_3 {
    background: #202020;
 }
 #slides .slide_4 {
    background: #202020;
 }
 #controls {
    margin: -180px 0 0 0;
    width: 100%;
    height: 50px;
    z-index: 3;
    position: relative;
 }
 #controls label {
    transition: opacity 0.2s ease-out;
    display: none;
    width: 5    0px;
    height: 50px;
    opacity: .4;
 }
 #controls label:hover {
    opacity: 1;
 }
 #slide1:checked ~ #controls label:nth-child(2),
 #slide2:checked ~ #controls label:nth-child(3),
 #slide3:checked ~ #controls label:nth-child(4),
 #slide4:checked ~ #controls label:nth-child(1) {
    background: url(https://image.flaticon.com/icons/svg/130/130884.svg) no-repeat;
    float:right;
    margin: 0 -50px 0 0;
    display: block;
 }
 #slide1:checked ~ #controls label:nth-last-child(2),
 #slide2:checked ~ #controls label:nth-last-child(3),
 #slide3:checked ~ #controls label:nth-last-child(4),
 #slide4:checked ~ #controls label:nth-last-child(1) {
    background: url(https://image.flaticon.com/icons/svg/130/130882.svg) no-repeat;
    float:left;
    margin: 0 0 0 -50px;
    display: block;
 }
 #bullets {
    margin: 150px 0 0;
    text-align: center;
 }
 #bullets label {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius:100%;
    background: rgb(137, 137, 137);
    margin: 0 10px;
 }
 #slide1:checked ~ #bullets label:nth-child(1),
 #slide2:checked ~ #bullets label:nth-child(2),
 #slide3:checked ~ #bullets label:nth-child(3),
 #slide4:checked ~ #bullets label:nth-child(4) {
    background: #E3E4E5;
 }
 @media screen and (max-width: 900px) {
    #slide1:checked ~ #controls label:nth-child(2),
    #slide2:checked ~ #controls label:nth-child(3),
    #slide3:checked ~ #controls label:nth-child(4),
    #slide4:checked ~ #controls label:nth-child(1),
    #slide1:checked ~ #controls label:nth-last-child(2),
    #slide2:checked ~ #controls label:nth-last-child(3),
    #slide3:checked ~ #controls label:nth-last-child(4),
    #slide4:checked ~ #controls label:nth-last-child(1) {
       margin: 0;
    }
    #slides {
       max-width: calc(100% );
      /*  margin: 0 auto; */
    }

   


 }





 :root {
   --altura: 450px;
   
}


.imgRedonda {
   width:130px;
   height:130px;
   border-radius:160px;
   border:5px solid #E3E4E5;
}




 

 #image{
   
    
    background-image: url(./consultoria.jpg);   
    background-position: center;

    /*  background-position-y: -330px ; */
    background-size: cover;
   
    background-repeat: no-repeat;
   
   
 }








.textocuadro{
   text-align: center;
   
   line-height: 1.3rem;
   font-size: 1rem;
   width: 100%;
   color:  #E3E4E5;

   font-family: 'Open Sans', sans-serif;
}

#titulocuadro{

   text-align: center;
   line-height: 1rem;
   font-size: 1rem;
   color:  #E3E4E5;

   font-family: 'Open Sans', sans-serif;
   
}




#imgsl1{
   background-image: url(./control1.JPG);
   background-repeat: no-repeat;
   background-position: center;
   background-size: 60%;
   
}

#imgsl2{

   
   background-image: url(./control2.png);
   background-repeat: no-repeat;
   background-position: center;
   background-size: 90%;
   
}

#imgsl3{

   
   background-image: url(./control3.png);
   background-repeat: no-repeat;
   background-position: center;
   background-size: 60%;
   
}

